body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em 0;
    text-align: center;
}

nav {
    background-color: #444;
    padding: 0.5em 0;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 0.5em 1em;
    display: inline-block;
}

nav a:hover {
    background-color: #555;
}

main {
    padding: 20px;
    max-width: 960px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.item {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    text-align: center;
}

.item img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 5px;
}

.item h3 {
    color: #007bff;
}

.item a {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 8px 15px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}

.item a .whatsapp {
    background-color: #25D366
    color: #000;
}

.item a:hover {
    background-color: #0056b3;
}

footer {
    text-align: center;
    padding: 1em 0;
    background-color: #333;
    color: #fff;
    margin-top: 20px;
}
